@import "~assets/styles/helpers/mixins.scss";

// Submit a Comment
.submit-comment-form {
  label {
    font-weight: 600;
  }
}

.attachment-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    + li {
      margin-top: 0.25rem;
    }
  }

  &__item {
    @include flex-box();
    padding: 0.5rem;
    background: #f4f4f4;

    &-name {
      @include flex(1 1 auto);
    }

    &-action {
      @include flex(0 0 auto);
    }

    &:nth-child(even) {
      background: #f7f8fa;
    }
  }
}

.file-upload {
  position: relative;

  &__target {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: #eee;
    text-align: center;
    transition: all ease-out 0.2s;
  }

  &__info {
    span {
      display: block;
    }
  }

  &__prompt-msg {
    font-weight: 700;
  }

  input {
    position: relative;
    z-index: 2;
    opacity: 0;
    width: 100%;
    height: 5rem;

    &:hover {
      + .file-upload__target {
        background: #999;
      }
    }
  }
}