@import "~assets/styles/helpers/mixins.scss";

// Submit a Comment
.submit-comment-form {
  label {
    font-weight: 600;
  }
}

.attachment-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    + li {
      margin-top: 0.25rem;
    }
  }

  &__item {
    @include flex-box();
    padding: 0.5rem;
    background: #f4f4f4;

    &-name {
      @include flex(1 1 auto);
    }

    &-action {
      @include flex(0 0 auto);
    }

    &:nth-child(even) {
      background: #f7f8fa;
    }
  }
}